//breakpoints
$bp-md: 768px;
$bp-lg: 1200px;

// colors
$background-first: #202020;
$background-second: #3C3C3C;
$text-color-grey: #565656;

// wrapper content
.wrapper{
  max-width: 1050px;
  margin: 0 auto;
}

// MIXINS

@mixin card-template{
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}