@import "../abstracts/variables";

.design {
  background-image: url("../../img/background-tell.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 498px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & h2 {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 24px;
    font-weight: 700;
    height: 145px;
    width: 343px;
  }

  @media (min-width: $bp-md) {
    background-image: url("../../img/background-desktop.jpg");
    height: 800px;

    & h2 {
      font-size: 48px;
      height: 232px;
      width: 704px;
      margin: 0;
    }
  }
  @media (min-width: $bp-lg) {
    & h2 {
      height: 174px;
      width: 1059px;
    }

  }
}
