@import "../abstracts/variables";

.footer {
  width: 100%;
  background-color: $background-first;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;

  @media (min-width: $bp-md) {
    h2 {
      font-size: 16px;
      margin-bottom: 35px;
    }
    @media (min-width: $bp-lg) {
      h2 {
        margin-bottom: 30px;
      }
    }
  }
}

.footer__project-block {
  width: 342px;
  height: 72px;
  border-radius: 139px;
  border: 1px solid var(--Gray-6, #F2F2F2);
  display: flex;
  gap: 20px;
  padding: 0 15px;
  align-items: center;
  margin: 52px 0 113px 0;
  justify-content: center;

  @media (min-width: $bp-md) {
    width: 714px;
    height: 150px;
    gap: 45px;
    padding: 0 15px;
    align-items: center;
    margin: 96px 0 60px 0;
    justify-content: center;
  }

  @media (min-width: $bp-lg) {
    width: 914px;
    height: 192px;
    margin: 78px 0 163px 0;
    gap: 45px;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
  }

  & p {
    color: #FFF;
    text-align: center;
    font-family: DynaPuff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
    @media (min-width: $bp-md) {
      font-size: 48px;
      margin-bottom: 17px;
    }
  }

  & a {
    color: #FFF;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    @media (min-width: $bp-md) {
      font-size: 24px;
    }
  }
}

.footer__project-box-img-mobile {
  position: absolute;
  top: 3px;
  right: -45px;
  @media (min-width: $bp-md) {
    display: none;
  }
}

.footer__project-box-img {
  display: none;
  @media (min-width: $bp-md) {
    display: block;
    position: absolute;
    top: 6px;
    right: -77px;
  }
}

.footer__links {
  display: flex;
  gap: 34px;
  margin-bottom: 40px;
  @media (min-width: $bp-md) {
    margin-bottom: 21px;
  }
}

.footer__img-star-mobile {
  @media (min-width: $bp-md) {
    display: none;
  }
}

.footer__img-star-desktop {
  display: none;
  @media (min-width: $bp-md) {
    display: block;
  }
}



