@import "../abstracts/variables";

.graphics {
  width: 100%;
  background-color: $background-first;
}

.graphics__content-container {
  padding: 58px 16px 93px 16px;

  & h2 {
    text-align: start;
    color: #FFF;
    font-family: DynaPuff;
    font-size: 36px;
    font-weight: 700;
  }

  @media (min-width: $bp-md) {
    padding: 82px 32px 129px 32px;

    & h2 {
      font-size: 80px;
      margin-bottom: 38px;
    }
  }
  @media (min-width: $bp-lg) {
    padding: 82px 0 136px 0;
  }
}

.graphics__cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;

  @media (min-width: $bp-md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.graphics__card--star {
  @include card-template;
  width: 100%;
  height: 325px;
  border-radius: 40px;
  position: relative;

  & img {
    border-radius: 40px;
  }

  &::after {
    position: absolute;
    content: url("../../img/svg/Soft Star.svg");
  }

  @media (min-width: $bp-md) {
    @include card-template;
    height: 414px;
    width: 100%;
    border-radius: 40px;
    position: relative;
    background: url("../../img/plan-1.jpg");
    background-size: cover;
    background-position: center;

    & img {
      display: none;

    }
    &::after {
      position: absolute;
      content: url("../../img/svg/Plan-star.svg");
    }
  }
  @media (min-width: $bp-lg) {
    background: url("../../img/comp-1.jpg");
  }
}

  .graphics__card--butterfly {
    @include card-template;
    width: 100%;
    height: 325px;
    border-radius: 40px;
    position: relative;

    & img {
      border-radius: 40px;
    }

    &::after {
      position: absolute;
      content: url("../../img/svg/Butterfly.svg");
    }

    @media (min-width: $bp-md) {
      @include card-template;
      width: 336px;
      height: 325px;
      border-radius: 40px;
      position: relative;
      background: url("../../img/plan-2.jpg");
      background-size: cover;
      background-position: center;

      & img {
        display: none;
      }
      &::after {
        position: absolute;
        content: url("../../img/svg/plan-2.svg");
      }
    }
    @media (min-width: $bp-lg) {

      @include card-template;
      background: url("../../img/comp-2.jpg");
      background-size: cover;
      background-position: center;
      width: 514px;
      height: 414px;

      & img {
        display: none;

      }
      &::after {
        position: absolute;
        content: url("../../img/svg/plan-2.svg");
      }
    }
  }

  .graphics__card--asterisk {

    @include card-template;
    width: 100%;
    height: 325px;
    border-radius: 40px;
    position: relative;

    & img {
      border-radius: 40px;
    }

    &::after {
      position: absolute;
      content: url("../../img/svg/Asterisk 1.svg");
    }

    @media (min-width: $bp-md) {
      @include card-template;
      width: 336px;
      height: 325px;
      border-radius: 40px;
      position: relative;
      background: url("../../img/plan-3.jpg");
      background-size: cover;
      background-position: center;

      & img {
        display: none;

      }
      &::after {
        position: absolute;
        content: url("../../img/svg/plan-3.svg");
      }
    }
    @media (min-width: $bp-lg) {

      @include card-template;
      background: url("../../img/comp-3.jpg");
      background-size: cover;
      background-position: center;
      width: 514px;
      height: 414px;

      & img {
        display: none;

      }
      &::after {
        position: absolute;
        content: url("../../img/svg/plan-3.svg");
      }
    }
  }

