@import "../abstracts/variables";

.header {
  width: 100%;
  height: 800px;
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
}

.header__menu {
  padding: 27px 17px;
  @media (min-width: $bp-md) {
    padding: 38px 34px;
  }
  @media (min-width: $bp-lg) {
    padding: 41px 200px 0 0;
  }
}

.header__nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;

  @media (min-width: $bp-lg) {
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin-top: 41px;
    top: 0;
    z-index: 100;
    background-color: transparent;
    /*background: rgb(244, 234, 162);
    background: linear-gradient(90deg, rgba(244, 234, 162, 1) 0%, rgba(246, 223, 88, 1) 52%, rgba(246, 233, 44, 1) 93%);*/
    width: 100%;
    max-width: 1050px;
    box-sizing: border-box;
  }
}

.header__btn {
  @media (min-width: $bp-lg) {
    display: none;
  }
}

.header__nav-list {
  display: none;
  @media (min-width: $bp-lg) {
    display: flex;
    gap: 20px;
    align-items: center;

    & li {
      display: flex;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 20px;
      border: 1px solid #FFF;
      color: #FFFFFF;
    }

  }
}

.header__headline {
  color: #FFF;
  font-family: DynaPuff;
  font-size: 48px;
  font-weight: 700;
  margin: 329px 300px 149px 0;

  @media (min-width: $bp-md) {
    margin: 179px 213px 130px 0;
    font-size: 80px;
    text-align: start;
  }
  @media (min-width: $bp-lg) {
    margin: 394px 0 119px 0;
    font-size: 80px;
    text-align: unset;
  }
}