@import "../abstracts/variables";

.meet {
  width: 100%;
  background-color: $background-first;
}

.meet__content-container {
  padding: 72px 16px 76px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 342px;
  position: relative;


  & h2 {
    text-align: start;
    color: #FAEB49;
    font-family: DynaPuff;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
  }

  & p {
    color: #FFF;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
  }

  &::after {
    content: url("../../img/svg/Elips-tell.svg");
    position: absolute;
    right: -289px;
    top: 31px;
  }

  @media (min-width: $bp-md) {
    padding: 110px 5px 102px 33px;
    gap: 40px;
    width: 540px;

    & h2 {
      font-size: 48px;
    }
    & p {
      font-size: 16px;
    }
    &::after {
      content: url("../../img/svg/Elips.svg");
      right: -553px;
      top: -48px;
    }
  }

  @media (min-width: $bp-lg) {

    padding: 101px 40px 102px 0;

    &::after {
      right: -710px;
      top: -60px;
    }
  }

}

.meet__clients-container {
  display: flex;
  gap: 14px;

  @media (min-width: $bp-md) {
    gap: 96px;
  }
}

.meet__happy-clients {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & span {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 36px;
    font-weight: 700;
  }

  & p {
    color: #FFF;
    font-size: 15px;
  }

  @media (min-width: $bp-md) {

    & span {
      font-size: 48px;
    }

  }

}