@import "../abstracts/variables";

.proposition-cards {
  width: 100%;
  background-color: $background-second;
}

.proposition-cards__content-container {
  display: flex;
  flex-direction: column;
  padding: 52px 16px 85px 16px;
  justify-content: center;
  align-items: center;
  gap: 63px;

  @media (min-width: $bp-md) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 52px 32px 122px 32px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  @media (min-width: $bp-lg) {
    width: 100%;
    padding: 86px 0 86px 0;
  }
}

.proposition-card__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  width: 343px;
  height: 488px;
  border-radius: 24px;
  background: #FFFEF2;
  align-items: center;
  position: relative;

  & h2 {
    text-align: start;
    color: $text-color-grey;
    font-family: DynaPuff;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  & p {
    color: #000;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    margin-top: 22px;
  }

  &::before {
    content: url("../../img/svg/Arrow-tel.svg");
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 31px;
    right: 34px;
  }

  @media (min-width: $bp-md) {
    padding: 22px;
    width: 703px;
    height: 680px;
    box-sizing: border-box;
    align-items: start;
    margin-bottom: 62px;

    & h2 {
      text-align: start;
      color: $text-color-grey;
      font-family: DynaPuff;
      font-size: 32px;
      font-weight: 700;
      margin: 0;
    }

    & p {
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      margin-top: 22px;
    }
    &::before {
      content: url("../../img/svg/Arrow-tel.svg");
      position: absolute;
      background-color: white;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      top: 31px;
      right: 34px;
    }
  }
  @media (min-width: $bp-lg) {
    padding: 24px 20px;
    width: 1050px;
    margin-bottom: 0;

    &::before {
      content: url("../../img/svg/Arrow-tel.svg");
      position: absolute;
      background-color: white;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      top: 31px;
      right: 34px;
    }
  }
}

.proposition-card__card.planet {
  height: 518px;

  & h2 {
    text-align: start;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-right: 25px;
  }

  & p {
    margin-top: 0;
  }

  @media (min-width: $bp-md) {
    display: flex;
    padding: 20px;
    width: 328px;
    height: 643px;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;

    & picture img {
      height: 448px;
      object-fit: cover;
      width: 100%;
      border-radius: 13px;
    }

    & h2 {
      font-size: 32px;
    }

    & p {
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      margin-top: 0;
    }
    &::before {
      content: url("../../img/svg/Arrow-tel.svg");
      position: absolute;
      background-color: white;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      top: 31px;
      right: 34px;
    }
  }
  @media (min-width: $bp-lg) {
    width: 325px;
    height: 545px;
    & picture img {
      height: 338px;
      border-radius: 13px;
    }
  }
}

  .proposition-card__card.banking.none {
    display: none;
    @media (min-width: $bp-md) {
      display: flex;
      gap: 22px;
      padding: 20px;
      width: 328px;
      height: 643px;
      align-items: unset;

      & h2 {
        text-align: start;
        color: $text-color-grey;
        font-family: DynaPuff;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
      }
      & picture img {
        height: 448px;
        object-fit: cover;
        width: 100%;
      }

      & p {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
      }
    }
    @media (min-width: $bp-lg) {
      width: 325px;
      height: 545px;
      & picture img {
        height: 338px;
        border-radius: 13px;
      }
    }
  }

  .proposition-card__card.none.mobile {
    display: none;
    @media (min-width: $bp-lg) {
      display: flex;
      width: 325px;
      height: 545px;

      & p{
        margin: 0;
      }

      & picture img {
        height: 338px;
        border-radius: 13px;
      }
    }
  }

.three-wrapper{
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
}